@page "/stores/create"

@inject IRepository<Store> StoreRepository
@inject NavigationManager NavigationManager

<PageTitle>Create Store | Store Admin</PageTitle>

<h1>Create Store</h1>

<StoreForm Store=store OnSubmit="CreateStoreAsync" />

@code {
    private Store store = new() { IsEnabled = true };

    private async Task CreateStoreAsync(Store store)
    {
        await StoreRepository.CreateAsync(store);
        NavigationManager.NavigateTo("/stores");
    }
}
