@page "/stores/{StoreId:int}"

@inject IRepository<Store> StoreRepository
@inject NavigationManager NavigationManager

<PageTitle>Edit Store: @store?.Name | Store Admin</PageTitle>

<h1>Edit Store: @store?.Name</h1>

@if (isLoading)
{
    <p><em>Loading...</em></p>
}
else if (store == null)
{
    <p>No store found!</p>
}
else
{
    <StoreForm Store="store" OnSubmit="UpdateStoreAsync" />
}

@code {
    [Parameter]
    public int StoreId { get; set; }

    private bool isLoading;
    private Store? store;

    protected override async Task OnInitializedAsync()
    {
        isLoading = true;
        store = await StoreRepository.GetAsync(StoreId);
        isLoading = false;
    }

    private async Task UpdateStoreAsync(Store store)
    {
        await StoreRepository.UpdateAsync(store);
        NavigationManager.NavigateTo("/stores");
    }
}
